
.lighthouse-action {
  position: relative;
  padding: 64px 0 36px;
  background-color: var(--palette-bg-paper);
  box-shadow: var(--shadows-4);
}

.lighthouse-action .url-and-analyze {
  display: flex;
  justify-content: center;
}

.lighthouse-action input[id=url] {
  border: none;
  padding: 0 16px;
  font-size: var(--typography-body2-font-size);
  line-height: var(--typography-body2-line-height);
  letter-spacing: var(--typography-body2-letter-spacing);
  height: auto;
  width: 40%;
}

.analyze-submit {
  margin-left: 8px;
  width: 124px;
}
