
.psi-action {
  padding: 48px 0 24px;
  background-color: var(--palette-bg-paper);
  box-shadow: var(--shadows-4);
}

.psi-action .url-and-analyze {
  display: flex;
  justify-content: center;
}

.psi-action input[name=url] {
  border: none;
  padding: 0 16px;
  font-size: var(--typography-body2-font-size);
  line-height: var(--typography-body2-line-height);
  letter-spacing: var(--typography-body2-letter-spacing);
  height: auto;
  width: 40%;
}

.analyze-submit {
  margin-left: 8px;
}
